extends ./layout/index
block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at neque ut ex tempor ornare vel eget erat. Maecenas mollis finibus turpis. Nunc at rutrum metus. Nam euismod turpis non hendrerit vestibulum. Ut orci felis, molestie non ipsum sit amet, consequat ullamcorper ex. Integer rhoncus eleifend semper. In eu venenatis lorem, aliquet maximus risus.

                p Proin et suscipit mauris, vitae aliquet lectus. Cras nec velit sed eros aliquet congue ut a erat. Duis hendrerit malesuada dolor vel venenatis. Ut aliquam nisl eget mattis pharetra. Duis sit amet felis at ligula lacinia tincidunt in id metus. Mauris accumsan eleifend sem suscipit pharetra. Sed ac justo rhoncus, porta nisl eget, interdum dolor.

            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros",class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales

        include ./layout/bloque_testimoniales