extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="sobre-nosotros", class="img-fluid")
            .col-md-7 
                h1=pagina

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis purus ut nisi consequat, vitae aliquam mauris tempor. Phasellus dapibus erat at orci consequat, eu tincidunt nisi iaculis. Curabitur volutpat auctor arcu. Praesent ut ligula id arcu consectetur malesuada ac et ante. Nullam scelerisque facilisis maximus. Donec sit amet mollis nulla, id fringilla libero. Sed ac suscipit dui.

                p Fusce dignissim sem quis erat mattis, ut mattis tellus molestie. Fusce tristique, eros vel mollis feugiat, arcu sapien tristique lectus, nec pellentesque nulla turpis ac eros. Suspendisse ut lorem in mi semper accumsan. Vivamus condimentum ex dui, vitae dictum nibh pellentesque in. Pellentesque sagittis consectetur gravida. Suspendisse potenti.

                p Nulla at nunc urna. Vivamus sed sem nec ex maximus posuere. Nunc viverra laoreet rutrum. Donec eu tempus nibh. Integer placerat vehicula lorem sit amet vestibulum. Etiam lacus erat, ultrices ut dolor ut, aliquam efficitur erat. Quisque gravida quis sapien at faucibus. Fusce egestas vehicula libero in vehicula. Integer nibh libero, elementum at velit vel, posuere convallis justo. Donec laoreet sem finibus nulla faucibus auctor. Pellentesque placerat scelerisque tortor eget imperdiet. Nulla leo ex, elementum sed congue at, blandit a leo. Donec nibh augue, dignissim id neque nec, aliquet ornare nisi.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 seguridad
                    p Nulla leo ex, elementum sed congue at, blandit a leo. Donec nibh augue, dignissim id neque nec, aliquet ornare nisi.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nulla leo ex, elementum sed congue at, blandit a leo. Donec nibh augue, dignissim id neque nec, aliquet ornare nisi.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Nulla leo ex, elementum sed congue at, blandit a leo. Donec nibh augue, dignissim id neque nec, aliquet ornare nisi.

